<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<nav>
    <a th:href="@{/}">Home</a>
    <a th:href="@{/Add}">Add Player</a>
    <a th:href="@{/View}">View Teams</a>
</nav>
<h1>Search</h1>
<form th:action="@{/searchTitle}" method="Post">
title
<input type="text" name="title"><br>
<input type="submit" Value="Search by title">


</form>
<form th:action="@{/searchPrice}" method="Post">
Price
<input type="text" name="price"><br>
<input type="submit" Value="Search by price">


</form>
<!--  
<form th:action="@{/searchGenre}" method="Post" th:object="${genre}">
genre
<select th:field="*{genre}">
	<option th:each="genre:*{genres}" th:value="${genre}" th:text="${genre}"></option>

</select><br>
<input type="submit" Value="Search by genre">


</form>
-->
<table border=1>
	<tr>
		<th>id</th>
		<th>isbn</th>
		<th>title</th>
		<th>price</th>
		<th>genre</th>
	</tr>
	<tr th:each="game:${games}">
		<th th:text="${game.id}"></th>
		<th th:text="${game.isbn}"></th>
		<th th:text="${game.title}"></th>
		<th th:text="${game.price}"></th>
		<th th:text="${game.genre}"></th>
		<th th:if="${game.genre=='Horror'}">
    <img th:src="@{/img/ghost.avif}" style="width:40px; height:auto;">
</th>
	</tr>

</table>

</body>
</html>