<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>View Therapists</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}">
</head>
<body>
<nav>
    <a th:href="@{/}">Home</a>
    <a th:href="@{/view/shirts}">Shirts</a>
    <a th:href="@{/add}">Add Shirt</a>
    <a th:href="@{/view/therapist}">Therapist</a>
    <a class="add" th:href="@{/addTherapist}">Add Therapist</a>
</nav>

<div class="container">
    <h1>Therapist List</h1>

    <table>
        <tr>
            <th>Therapist ID</th>
            <th>Name</th>
        </tr>

        <tr th:each="therapist : ${therapistList}">
            <td th:text="${therapist.id}"></td>
            <td th:text="${therapist.name}"></td>
        </tr>
    </table>
</div>
<div class="button">
<a class="add" th:href="@{/addTherapist}">Add Therapist</a>
</div>


</body>
</html>